.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: #ffffff;
  margin: 2rem;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 1rem;
  border: 0;
  border-radius: 5px;
  background-color: #ebe713;
  font-size: 1rem;
  font-weight: bold;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
  padding: 10px 14px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.226);
}

.box input {
  width: 85%;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  padding-right: 12px;
  border: 0;
  outline: 0;
}

.box button {
  cursor: pointer;
  width: 65px;
  height: 60px;
  font-size: 2.3rem;
  border-radius: 12px;
  color: #ffffff;
  background: #663399;
}